@media screen and (max-width: 768px) {
    .buttonHeaderNav {
        display: block;
    }
}

:root {
    --color0:white;
    --color1:#D3FCBD;
    --color2:#89B173;
    --color3:#466337;
    --color4:#B072B0;
    --color5:#632D63;

    --fontePadrao: Arial, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}


body {
    background-color: var(--color2);
    font-family: var(--fontePadrao);
}


.headerNav {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    align-items: center;
    background-image: linear-gradient(to bottom, var(--color3), var(--color2));
}
.buttonHeaderNav {
    background-color: transparent;
    border: none;
    color: var(--color0);
    cursor: pointer;
    
}


header {
    width: 50%;
}


nav {
    width: 50%;
    text-align: end;
}
nav a {
    margin-right: 20px;
    padding: 8px 10px;
    color: var(--color0);
    text-decoration: none;
    font-weight: bold;
    background-color: var(--color5);
    border-radius: 7px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.459);
}
nav a:hover {
    background-color: var(--color4);
    text-decoration: underline;
    transition: .25s;
}


main {
    padding: 15px;
}




footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 13px;
    text-align: center;
}
footer a {
    text-decoration: none;
    font-weight: bold;
}
footer a:hover {
    text-decoration: underline;

}

